#test div{
    width: 50px;
    height: 50px;
    border:solid black 1px;
    justify-content: center;

    

}
#test{
    width: 200px;
    height: 200px;
    border:solid blue 3px;
    display: flex;
    flex-direction: row;
    
}

#test1{
    width: 200px;
    height: 200px;
    border:solid blue 3px;
    display: flex;
    flex-direction: row;
}