.body{
    background-color: green;
}
.table{
    border-color: rgb(255, 255, 255);
    color: rgb(33, 255, 4);
    background-color: rgb(0, 0, 0);
}
.name{
    color: blue;
}
.saurname{
    color: blue;
}
.aura{
    color: blue;

}